<p class="mar-no pad-btm">
    <%= fa_icon 'bullhorn' %>&nbsp; <%= link_to "Admin".html_safe, '#'%> broadcasted on <b><%= locals[:activity].trackable.title %></b>
</p>
<blockquote class="bq-sm bq-open">
    <%= locals[:activity].trackable.content %></b>
</blockquote>
