<% flash.each do |type, message| %>
	<% unless type.eql?('timedout') %>
		<% type = type.eql?('error') ? type = 'danger' : type %>
		<div class="container">
			<div class="row">
				<br />
				<div style="margin-bottom: -50px" class="col-lg-12 col-md-11 col-sm-10">
					<div class="alert alert-<%= bootstrap_class_for(type) %>">
						<%= message %>
					</div>
				</div>
			</div>
		</div>
		<br />
	<% end %>
<% end %>
